<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <lib-ngx-string-to-css-color></lib-ngx-string-to-css-color>
  <p colorBackgroundFromText="'Some text'" applyShade="-0.9">Some text</p>
  <p colorBackgroundFromText="'Some text'" applyShade="-0.5">Some text</p>
  <p colorBackgroundFromText="'Some text'" applyShade="-0.2">Some text</p>
  <p colorBackgroundFromText="'Some text'" applyShade="0.5">Some text</p>
  <p colorBackgroundFromText="'Some text'">Some text</p>

  <br>  
  <p colorBackgroundFromText>Some text</p>
  <div colorBackgroundFromText>Some text</div>
  <span colorBackgroundFromText>Some text</span>
  <br>
  <br>
  <tag-with-background-from-text [text]="'Some text'"></tag-with-background-from-text>
  <br>
  <br>
  <tag-with-background-from-text [text]="'Some other text'"></tag-with-background-from-text>
  <br>
  <br>
  <tag-with-background-from-text [text]="'More of the same thing'"></tag-with-background-from-text>

</div>
