<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <lib-ngx-string-to-css-color></lib-ngx-string-to-css-color>
  <p colorBackgroundFromText="'Some text'" applyShade="-0.9">Some text</p>
  <p colorBackgroundFromText="'Some text'" applyShade="-0.5">Some text</p>
  <p colorBackgroundFromText="'Some text'" applyShade="-0.2">Some text</p>
  <p colorBackgroundFromText="'Some text'" applyShade="0.5">Some text</p>

  <p colorBackgroundFromText="'Some text'">Some text</p>

</div>
