/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
  color: #333;
  background-color: #eee;
  padding-bottom: 50px;
}


